



.nav {
    overflow: hidden;
    border: none;
    
    li{
      float: left;
      border: none;
      outline: none;
      cursor: pointer;
      transition: 0.3s;
      
        a{
          position: relative;
          -webkit-transition: all .3s ease;
          transition: all .3s ease;
          color: #434343;
          border-radius: 0;
          background: rgba(34, 34, 34, .05);
          display: block;
          padding: 35px 70px;
          text-decoration: none;
          
          &::after{
            position: absolute;
            bottom: -10px;
            left: 50%;
            width: 0;
            height: 0;
            margin-left: -10px;
            content: "";
            -webkit-transition: all .3s ease;
            transition: all .3s ease;
            opacity: 0;
            border-width: 10px 10px 0 10px;
            border-style: solid;
            border-color: #fff transparent transparent transparent;
          }
          
         
        }
      
    }
  }
  
  
  .tabcontent{
    display: none;
  }
  
 
  